body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
    /* line-height: 40px; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    
}

h3 {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-team {
    background-color: #F4F4FD;
}

.section-team ul h3 {
    text-align: center;
}

.section-team ul p {
    font-size: 16px;
    color: #434455;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-team ul li {
    background-color: #ffffff;
}

.section-portfolio ul p {
    font-size: 16px;
    color: #434455;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
}