.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: #2E2F42;
    text-transform: uppercase;
    }
    
.accent-logo {
    color: #4D5AE5;
}

.nav-features, .nav-team, .nav-portfolio {
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-features:hover {
    color: #404BBF;
}
.nav-features:focus {
    color: #404BBF;
}

.nav-team:hover {
    color: #404BBF;
}
.nav-team:focus {
    color: #404BBF;
}

.nav-portfolio:hover {
    color: #404BBF;
}
.nav-portfolio:focus {
    color: #404BBF;
}

.contact-mail,.contact-phone {
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-mail:hover {
    color: #404BBF;
}
.contact-mail:focus {
    color: #404BBF;
}

.contact-phone:hover {
    color: #404BBF;
}
.contact-phone:focus {
    color: #404BBF;
}