.section-hero {
    background-color: #2E2F42;
}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    /* line-height: 60px; */
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #2E2F42;
    color: #ffffff;

}

.button {
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:hover {
    background: #404BBF;
    color: #ffffff;
}

.button:focus {
    background: #4D5AE5;
    color: #ffffff;
}